/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

:root {
  --primary-color: #089bab;
  --secondary-color: #eef7f9;
  --primary-font-color: #090f21;
  --secondary-font-color: #a9a8ad;
}

/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;
  font-family: Helvetica, sans-serif;
  background-color: #eef7f9;
}

