<div class="row h-100">
    <!-- <div class="col-2">
        <side-bar></side-bar>
    </div> -->
    <div class="col-5 pt-5">
        <div [@cardAnimation]="musicAnimate">
            <music></music>
        </div>
        <div [@cardAnimation]="consoleAnimate">
            <console></console>
        </div>
        <div [@cardAnimation]="notificationAnimate">
            <notifications></notifications>
        </div>
        <div [@cardAnimation]="shoppingListAnimate">
            <shopping-list></shopping-list>
        </div>
    </div>
    <div class="col-7 pt-5">
        <div [@cardAnimation]="recipeListAnimate">
            <recipe-list></recipe-list>
        </div>
        <div [@cardAnimation]="scheduleAnimate">
            <schedule></schedule>
        </div>
        <div [@cardAnimation]="recipeDetailsAnimate">
            <recipe-details></recipe-details>
        </div>
    </div>
</div>