/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

:root {
  --primary-color: #089bab;
  --secondary-color: #eef7f9;
  --primary-font-color: #090f21;
  --secondary-font-color: #a9a8ad;

  --primary-phone-color: #2D5325;
  --secondary-phone-color: #B5C3B6;
  --tertiary-phone-color: #D5D6D2;

  --projects-color: #2196F3;
  --books-color: #A87E00;
  --recipe-color: #673AB7;
  --routine-color: #BC3308;

  --point0-color: #86be46;
  --point1-color: #749e45;
  --point2-color: #949e45;
  --point3-color: #9e9b44;
  --point5-color: #9e7b44;
  --point8-color: #9e7444;
  --point13-color: #9e6144;
  --point21-color: #9f4444;
}

/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;
  font-family: Helvetica, sans-serif;
  background-color: #eef7f9;
}

