.notification-title {
    color: var(--primary-color);
    font-weight: 500;
    font-size: larger;
}

.date-title {
    font-size: small;
    font-weight: 600;
    color: var(--secondary-font-color)
}

.card-notification {
    height: 10vh;
    background-color: white;
    border-radius: 25px;
    box-shadow: rgb(255 255 255 / 15%) 0px 15px 25px, rgb(0 0 0 / 5%) 0px 5px 10px;
}