<div class="row">
    <div class="col-2 day card-schedule  ml-1 mr-1 mb-0" [ngStyle]="{'opacity': getProperOpacity(day.day)}" *ngFor="let day of week">
        <div class="day-name pt-3">{{ day.dayName.substring(0, 3) }}</div>
        <div class="line mt-1 mb-2"></div>
        <div class="row pl-2 pr-3">
            <div class="col-1 col-circle" *ngFor="let period of day.periods">
                <div class="circle mt-2" [ngClass]="{'project': period == '1', 'book' : period == '0', 'routine' : period == '3', 'recipe' :
                period == '2' }">

                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-4"></div>
            <div class="day-number col-8 pl-4 mb-1">{{ day.day }}</div>
        </div>
    </div>
</div>