.notification-title {
    color: var(--primary-color);
    font-weight: 500;
    font-size: larger;
}

.date-title {
    font-size: small;
    font-weight: 600;
    color: var(--secondary-font-color);
}

.card-notification {
    height: 20vh;
    background-color: white;
    border-radius: 25px;
    box-shadow: rgb(255 255 255 / 15%) 0px 15px 25px, rgb(0 0 0 / 5%) 0px 5px 10px;
}

.message {
    font-size: small;
    font-weight: 600;
    color: var(--secondary-font-color);
}

.song-image {
    width: 20vw;
    border-radius: 5%;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
    box-shadow: rgb(255 255 255 / 15%) 0px 15px 25px, rgb(0 0 0 / 5%) 0px 5px 10px;
}

.playlist-image {
    height: 5vh;
    border-radius: 5%;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
    box-shadow: rgb(255 255 255 / 15%) 0px 15px 25px, rgb(0 0 0 / 5%) 0px 5px 10px;
}

.song-text {
    font-size: small;
    font-weight: 600;
    color: var(--secondary-font-color);
}

.art {
    display: block;
    width: 20vw;
    height: 20vw;
    margin: 1rem auto;
    border-radius: 50%;
    border: 4px solid #EBEBED;
    box-shadow:  16px 16px 57px #acacac, 
                -16px -16px 57px #ffffff;
}

.art {
    animation: rolling-disk 7.5s 0.25s linear infinite;
}

/*      keyframes   */
@keyframes timer {
    0%      {width: 0%;}
    100%    {width: 100%;}
}

@keyframes rolling-disk {
    0%      {transform: rotate(0);}
    100%    {transform: rotate(1turn);}
}
